<!--https://getbootstrap.com/docs/4.6/examples/blog/ -->
<body>
  <div class="container" id="nav-container">
    <header class="blog-header py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-5 pt-1">
          <a class="text-muted m-3" href="">Subscribe</a>
          <!-- # link_to 'Subscribe', subscribe_path, class: "text-muted m-3" %> -->
          <% if logged_in? %>
            <a class="text-muted m-5" href="<%= new_article_path %>">Create new article</a>
          <% end %>
        </div>
        <div class="col-3 text-center">
          <%= link_to "Mads blog", root_path, class: "blog-header-logo text-dark", id: "logo" %>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
          <form  class="d-flex" action="/articles" method="get">
            <label for="search">Search:</label>
            <input class="form-control me-2" type="text" name="search">
            <button type="submit" >
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"></circle><path d="M21 21l-5.2-5.2"></path></svg>
            </button>
          </form>
          <% if !logged_in? %>
            <a class="btn btn-sm btn-outline-secondary" href="<%= signup_path %>">Sign up</a>
            <a class="btn btn-sm btn-outline-secondary float-lg-right" href="<%= login_path %>">Log in</a>
          <% end %>
          <% if logged_in? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                <%= "(admin)" if current_user.admin? %> Profile [<%= current_user.username%>] <!--"Admin" is only showed if the current user is admin -->
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <% if logged_in? && current_user.admin? %>
                  <%= link_to "Create new category", new_category_path, class: "dropdown-item" %>
                <% end %>
                <%= link_to "View your profile", user_path(current_user), class: "dropdown-item" %> <!--Current_user giver brugerens id til users_path) --> 
                <%= link_to "Edit your profile", edit_user_path(current_user), class: "dropdown-item" %>
                <%= link_to "Delete profile", user_path(current_user), class: "dropdown-item text-danger", method: :delete, data: { confirm: "Are you sure your want to delete your profile?" } %>
                <%= link_to 'Logout', logout_path, class: "dropdown-item text-danger", method: :delete %>
              </ul>
            </li>
            
          <% end %>
        </div>
      </header>
    </div>
  </div>


      <div class="container" id="navbar-under">
        <div class="nav-scroller py-1 mb-2"> 
          <nav class="nav d-flex justify-content-between">
            <%= link_to 'Home', root_path, class: "p-2 text-muted" %>
            <a class="p-2 text-muted" href="/articles?feed_type=most_recent">Most recent</a>
            <a class="p-2 text-muted" href="/articles?feed_type=most_read">Show most read</a>
            <%= link_to 'Articles', articles_path, class: "p-2 text-muted" %>
            <%= link_to 'Bloggers', users_path, class: "p-2 text-muted" %>
            <a class="p-2 text-muted" href="<%= %>">Something</a>
            <%= link_to 'View all categories', categories_path, class: "p-2 text-muted" %>
          </nav>
        </div>
      </div>  
</body>

